html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    line-height: 1.35;
    width: 100%;
    height: 100%;
}
 /* ------------------ Universal selectors ------------------ */


li, p, h3, h4 {
    font-family: "roboto";
}
a {
    font-family: 'raleway';
    text-decoration: none;
    font-size: 1rem;
    font-weight: 200;
}
h1 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.856);
}
h2 {
    font-weight: 400;
    font-size: 1.6rem;
    Font-Family: 'Oswald', Sans-Serif;
}
h3 {
    font-weight: 400;
}
h4 {
    font-weight: 200;
    color: red;
    text-transform: uppercase;
    margin: 0px;

}
h1,h2,h3,p,a {
    color: white;
}

 
/* ------------------ Universal Class Selectors ------------------ */
.grid {
    display: grid;
}
.flex {
    display: flex;
}
.relative {
    position: relative;
}
.block {
    display: block;
}
.linkred {
    text-decoration: none;
    font-family: 'roboto';
    color: red;
    transition: 500ms;
}
.boxs {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.753);
}
.wid80 {
    width: 80%;
}
.txtcent {
    text-align: center;
}
.h2upper {
    padding: 20px 0px;
    margin-top: 0px;
    text-transform: uppercase;
}
ul li {
    list-style: none;
}
 /* ------------------ nav bar selectors ------------------ */

header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
    justify-content: space-between;
    transition: 500ms;
}
#wesley, #wesley2 {
    color: white;
    left: 10%;
    font-size: 1.5rem;
    font-weight: 200;
}
#wesley2 {
    display: none;
}

nav {
    right: 10%;
}
nav a {
     color: rgb(228, 228, 228);
     font-weight: 200;
     text-transform: uppercase;
     padding-bottom: 10px;
     transition: 300ms;
}
nav li {
    padding-left: 15px;
    font-size: 1.1rem;
    font-weight: 200;
}
nav ul {
    padding-inline-start: 0;
}

.nav-links {
    margin-left: 60px;
}
#btn-mobile {
    display: none;
}
nav  a:hover, #footernav a:hover {
    color: white;
    font-weight: 400;
}

.animationjs {                                                                          /* ------------------ anim class------------------ */ 
    opacity: 100%;
    animation: transitionIn 1s  both;
}

 /* ------------------ Section intro ------------------ */                           /* ------------------  Section/1 ------------------ */       
#contactme {
    background-color: #0f1520;
    color: rgb(231, 231, 231);
    width: 50%;
    font-size: 13px;
    z-index: 1001;
    position: fixed;
    margin: 0 auto;
    top: 30%;
    right: 0;
    left: 0;
    display: none;
}

#contactme h2 {
    padding: 0px 30px;
}
#contactdiv {
    justify-content: space-between;
}
#contactdiv > button {
    width: 60px;
    border: none;
    background-color: transparent;
}
.bx-x-circle {
    transform: scale(2);
    color: red;
    cursor: pointer;
}
#contactme > form {
    padding: 30px;
    position: relative;
    margin-bottom: 2rem;
}
label {
    margin-top: 10px;
    font-family: 'raleway';
    position: absolute;
    left: 2.5rem;
    padding: 1px 5px 10px 5px;
    background: #0f1520;
}
::placeholder {
    color: #64646b;
}
input {

    width: 100%;
    height: 30px;
    border: 2px solid red;
    background: none;
    color: white;
    outline: none;
    padding: 1.5rem;
    z-index: 1;
}
input:active {
    background-color: none;
}
.textarea {
    height: 11rem;
}
#submit {
    width: 100px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    height: auto;
    padding: 15px 25px;
}
#ctclink2, #ctclink {
    cursor: pointer;
}


main {
    overflow-x:hidden;
}
#projectsec {
    background: url(./assets/backgroundimage.png);
    background-size: cover;
    
    
}
.mainsec {
    padding-top: 200px;
    margin: 0 auto;
    text-align: center;
}
.mainsec h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
}
#procontainer {
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 50px 0px;
}
.probox {
    background-color: #182130;
}
.protextbox {
    padding: 30px;
}
.protextbox ul li {
    list-style: disc;
    font-weight: 200;
    color: white;
}
.imgpro {
    width: 100%;
}
.bx-right-arrow-alt {
    top: 2px;
}
.iconskill {
    margin: 0 auto;
    justify-content: center;
    color: white;
    font-size: 3rem;
    padding: 20px;
    gap: 10px;
}
.iconskill > .bx {
    cursor: pointer;

}

/* footer */
#footernav {
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0px;
    justify-content: center;
    padding-bottom: 30px;
}
#footernav li, a {
    color:rgb(228, 228, 228);
    margin: 0px;
}
#footernav a {
    margin: 0px;
    padding: 10px;
    transition: 500ms;
}
footer {
    background-color: red;
}
#footercontainer {
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    padding: 30px 0px 20px 0px;
}
#footercontainer ul {
    padding-left: 0px;
    justify-content: center;
    
}
#footercontainer > ul > li {
    padding: 15px;
}
#footercontainer a {
    margin: 0px;
    font-weight: 400;
}
.ftmore {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.ftmore > ul {
    gap: 10px;
}
.ftmore > p {
    margin: 0px;
}

.bxl-instagram-alt,.bxl-behance,.bxl-github {
    color: white;
    background-color: #11141a;
    padding: 6px;
    font-size: 1.8rem;
    border-radius: 50%;
    transition: 400ms;
}
.bxl-instagram-alt:hover,.bxl-behance:hover,.bxl-github:hover{
    background-color: #182130;
}
@keyframes transitionIn {
    0% {
        opacity: 0;
        transform: translate(-500px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media (min-width: 980px) {  /* ------------------hover effects  all buttons------------------  no mobile version */  
    .linkred:hover {
        color: white;
        transition: 500ms;
    }
    i {
        transition: 250ms;
    }
    .linkred:hover i {
        transform: scale(1.3) translateX(2px);
    }
    .iconskill > .bx:hover {
        color: #182130;
       }
}
@media (max-width: 1280px) {                                           /* ------------------ media 1280px ------------------ */               
    #wesley2 {
        display: inline-block;
    }
    #wesley {
        display: none;
    }
    #procontainer {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 800px){                                              /* ------------------ media 800px ------------------ */   
    #procontainer {
        grid-template-columns: 100%;
        grid-column-gap: 3%;
        grid-row-gap: 40px;
        width: 90%;
    }
    #contactme {
        width: 80%;
        top: 15%;
    }
    .textarea {
        height: 5rem;
    }

}
@media (max-width: 730px) {                                             /* ------------------ media 730px ------------------ */   

    #right-nav {
        display: none;
        position: absolute;
        right: -80px;
        top:40px;
        /*background: #0a0c10;*/
        height: calc(100vh - 70px);
        width: 50vh;
        opacity: 80%;
        z-index: 2;
        transition: .6s;
    }
    #right-nav a {
        position: relative;
        top: 50px;
        font-size: 1.5rem;
        padding-top: 10px;
        line-height: 4rem;
        text-shadow: 1px 1px 4px black;
        display: block;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: white;
        gap: .5rem;
    }
    #hamburguer {
        width: 20px;
        border-top: 2px solid;
    }
    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s ;
        position: relative;
    }
    #navbar.active #hamburguer {
        border-top: transparent;
    }
    #navbar.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #navbar.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    #navbar.active #right-nav{
        display: block;
    }
    #abtcontainer {
        width: 90%;
    }
    #projectscontainer {
        width: 90%;
    }
}
@media (max-width: 600px) {                                               /* ------------------ media 600px ------------------ */   
    #intro-wesley {
        display: inline-block;
        width: 100%;
    }
    .iconskill {
        font-size: 2.5rem;
    }
    .ftmore > a {
        display: none;
    }
}